body{
  margin: 0;
}
a{
  color: blue;
  text-decoration:none;
}
h1{
  font-size:45px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin: 0;
  padding: 50px;
  background-image: url('img\\topimg.JPG');
}
ol{
  border-right: 1px solid gray;
  width: 150px;
  margin: 0;
  padding: 20px;
  font-size: 19px;
  line-height:200%;
}
#grid ol{
  padding-left: 83px;
}
#grid input{
  margin-left: 17px;
  height: 44px;
  width: 44px;
}
#grid{
  display: grid;
  grid-template-columns: 300px 1fr;
}
#grid #article{
  padding-left: 25px;
  font-size: 20px;
}

#bottom{
  padding-top: 200px;
}
.download{
  text-align: center;
  padding-right: 240px;
  margin-bottom: 50px;
}
.download input{
  font-size: 25px;
}
#space{
  margin-left: 200px;
}
